@import "tailwindcss";

:root {
  --color-blue-50: #2e4790;
  --color-gray-50: #d2d2d2;
  --color-blue-100: #2e47903b;
  --color-orange-100: #ff6565;
  --color-gray-100: #686868;
  --color-gray-300:#474747;
}

@font-face {
  font-family: "helvetocaReg";
  src: url("public/helvetica-neue-5/HelveticaNeueRoman.otf");
}

body{
  overflow-x: hidden;
  font-family: "helvetocaReg"
}

@layer base {
  .test {
    @apply border-2 border-red-600;
  }
  .categorybutton {
    @apply rounded-4xl px-2 bg-red-600;
  }
  .headerButton {
    @apply rounded-full size-9 grid place-items-center bg-white cursor-pointer hover:opacity-90;
  }
  .center{
    @apply flex justify-center items-center
  }
}
